* {
  font-family: "Poppins";
}

.app-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  background-color: #f7f7f7;
}

.content-wrapper {
  padding: 20px;
}

.seperator {
  display: flex;
}
